.advantages {
	
	&__title {
		span:not(:last-child) {
			color: $violet;
		}
	}

	&__block {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
	}

	&__left {
		background-image: url('../images/advantages-image.jpeg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 7px;
	}

	&__right {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		gap: 40px;
		margin-bottom: 60px;

		.advantage {

			svg {
				margin-bottom: 10px;
			}

			&__title {
				color:	#232323;
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				margin-bottom: 10px;
			}

			&__descr {
				color: #363636;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 23px;
			}
		}
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 20px
	}

	&__btn {
		background: $violet;
		color: #fff;
		padding: 10px 25px;
		transition: background 0.2s ease-in-out;
		-webkit-transition: background 0.2s ease-in-out;
		-moz-transition: background 0.2s ease-in-out;
		-ms-transition: background 0.2s ease-in-out;
		-o-transition: background 0.2s ease-in-out;

		&:hover {
			background: $violet-light;
		}
	}
}