@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular'),
  url("../fonts/Poppins-Regular.woff2") format("woff2"),
  url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Medium'),
  url("../fonts/Poppins-Medium.woff2") format("woff2"),
  url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-SemiBold'),
  url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
  url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Bold'),
  url("../fonts/Poppins-Bold.woff2") format("woff2"),
  url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  width: 100%;
  min-width: 320px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #000;
}

.wrapper {
  width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  color: #232323;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.section-descr {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.section-badge {
  color: #D4D6D4;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.section-offset {
  padding: 60px 0 60px 0;
}