@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
@font-face {
  font-family: 'Days';
  src: local("Days-Regular"), url("../fonts/Days.woff2") format("woff2"), url("../fonts/Days.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: local("Poppins-Regular"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: local("Poppins-Medium"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: local("Poppins-SemiBold"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Poppins';
  src: local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }
body {
  width: 100%;
  min-width: 320px;
  font-family: 'Days', sans-serif;
  font-weight: 400;
  color: #000; }

.wrapper {
  width: 100%; }

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none; }

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  border-radius: 5px; }

.btn {
  background: #603880;
  color: #fff;
  padding: 10px 25px;
  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out; }
  .btn:hover {
    background: #8a50ba;
    color: #fff; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto; }

.section-title {
  color: #232323;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px; }

.section-descr {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; }

.section-badge {
  color: #D4D6D4;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline; }

.section-offset {
  padding: 60px 0; }

input, textarea {
  border-radius: 7px !important; }

.header {
  position: relative;
  width: 100%;
  color: #000; }
  .header .navbar {
    background-color: transparent !important; }
  .header .carousel-item {
    height: 40vw !important;
    max-height: 40vw !important; }
  .header .d-block {
    height: 40vw !important;
    max-height: 40vw !important; }
  .header__inner {
    width: 100%;
    padding: 15px 0; }
  .header__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .logo {
    width: 100%;
    max-width: 80px; }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .nav-item {
      font-size: 15px;
      color: #000 !important;
      border-bottom: 2px solid transparent;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      padding-bottom: 1px; }
    .header .nav-item:hover {
      color: #603880 !important;
      border-bottom: 2px solid #603880; }
    .header .nav-link {
      color: #000 !important; }
    .header .nav-link:hover {
      color: #603880 !important; }

.hero .title span:not(:last-child) {
  color: #603880; }
.hero__text {
  color: #333333;
  line-height: 24px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  -webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
          box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  -webkit-transition: all .3s;
  transition: all .3s; }
  @media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
      height: 400px; } }
  @media screen and (max-width: 768px) {
    .blog-slider {
      min-height: 500px;
      height: auto;
      margin-top: 180px; } }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      height: 350px; } }
  .blog-slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 768px) {
      .blog-slider__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .blog-slider__item.swiper-slide-active .blog-slider__img img {
      opacity: 1;
      -webkit-transition-delay: .3s;
              transition-delay: .3s; }
    .blog-slider__item.swiper-slide-active .blog-slider__content > * {
      opacity: 1;
      -webkit-transform: none;
              transform: none; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
        -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
        -webkit-transition-delay: 0.4s;
                transition-delay: 0.4s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
        -webkit-transition-delay: 0.5s;
                transition-delay: 0.5s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
        -webkit-transition-delay: 0.6s;
                transition-delay: 0.6s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
        -webkit-transition-delay: 0.7s;
                transition-delay: 0.7s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
        -webkit-transition-delay: 0.8s;
                transition-delay: 0.8s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
        -webkit-transition-delay: 0.9s;
                transition-delay: 0.9s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
        -webkit-transition-delay: 1s;
                transition-delay: 1s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
        -webkit-transition-delay: 1.1s;
                transition-delay: 1.1s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
        -webkit-transition-delay: 1.2s;
                transition-delay: 1.2s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
        -webkit-transition-delay: 1.3s;
                transition-delay: 1.3s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
        -webkit-transition-delay: 1.4s;
                transition-delay: 1.4s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
        -webkit-transition-delay: 1.5s;
                transition-delay: 1.5s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
        -webkit-transition-delay: 1.6s;
                transition-delay: 1.6s; }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
        -webkit-transition-delay: 1.7s;
                transition-delay: 1.7s; }
  .blog-slider__img {
    width: 300px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 300px;
    background: #844880;
    background: -webkit-gradient(linear, left top, right top, from(#844880), to(#472d80));
    background: linear-gradient(90deg, #844880 0%, #472d80 100%);
    background: -webkit-linear-gradient(90deg, #844880 0%, #472d80 100%);
    -webkit-box-shadow: 4px 13px 30px 1px rgba(96, 56, 128, 0.2);
            box-shadow: 4px 13px 30px 1px rgba(96, 56, 128, 0.2);
    border-radius: 20px;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
    overflow: hidden; }
    .blog-slider__img:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #844880;
      background: -webkit-gradient(linear, left top, right top, from(#844880), to(#472d80));
      background: linear-gradient(90deg, #844880 0%, #472d80 100%);
      background: -webkit-linear-gradient(90deg, #844880 0%, #472d80 100%);
      border-radius: 20px;
      opacity: 0.8; }
    .blog-slider__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      display: block;
      opacity: 0;
      border-radius: 20px;
      -webkit-transition: all .3s;
      transition: all .3s; }
    @media screen and (max-width: 768px) {
      .blog-slider__img {
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 90%; } }
    @media screen and (max-width: 576px) {
      .blog-slider__img {
        width: 95%; } }
    @media screen and (max-height: 500px) and (min-width: 992px) {
      .blog-slider__img {
        height: 270px; } }
  .blog-slider__content {
    padding-right: 25px; }
    @media screen and (max-width: 768px) {
      .blog-slider__content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px; } }
    @media screen and (max-width: 576px) {
      .blog-slider__content {
        padding: 0; } }
    .blog-slider__content > * {
      opacity: 0;
      -webkit-transform: translateY(25px);
              transform: translateY(25px);
      -webkit-transition: all .4s;
      transition: all .4s; }
  .blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500; }
  .blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px; }
  .blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em; }
  .blog-slider__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: #844880;
    background: -webkit-gradient(linear, left top, right top, from(#844880), to(#472d80));
    background: linear-gradient(90deg, #844880 0%, #472d80 100%);
    background: -webkit-linear-gradient(90deg, #844880 0%, #472d80 100%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    -webkit-box-shadow: 0px 14px 80px rgba(96, 56, 128, 0.4);
            box-shadow: 0px 14px 80px rgba(96, 56, 128, 0.4);
    text-decoration: none;
    font-weight: 500;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    letter-spacing: 1px; }
    @media screen and (max-width: 576px) {
      .blog-slider__button {
        width: 100%; } }
  .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%; }
  .blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    @media screen and (max-width: 768px) {
      .blog-slider__pagination {
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        left: 50% !important;
        top: 205px;
        width: 100% !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 8px 0; }
      @media screen and (max-width: 768px) {
        .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
          margin: 0 5px; } }
    .blog-slider__pagination .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      display: block;
      border-radius: 10px;
      background: #603880;
      opacity: 0.2;
      -webkit-transition: all .3s;
      transition: all .3s; }
      .blog-slider__pagination .swiper-pagination-bullet-active {
        opacity: 1;
        background: #603880;
        height: 30px;
        -webkit-box-shadow: 0px 0px 20px rgba(96, 56, 128, 0.3);
                box-shadow: 0px 0px 20px rgba(96, 56, 128, 0.3); }
        @media screen and (max-width: 768px) {
          .blog-slider__pagination .swiper-pagination-bullet-active {
            height: 11px;
            width: 30px; } }

.advantages__title span:not(:last-child) {
  color: #603880; }
.advantages__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px; }
.advantages__left {
  background-image: url("../images/advantages-image.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px; }
.advantages__right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 40px;
  margin-bottom: 60px; }
  .advantages__list .advantage svg {
    margin-bottom: 10px; }
  .advantages__list .advantage__title {
    color: #232323;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px; }
  .advantages__list .advantage__descr {
    color: #363636;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; }
.advantages__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px; }

.how-we-work__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 20px; }
.how-we-work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .how-we-work__item svg {
    margin-bottom: 20px; }
  .how-we-work__item span {
    color: #232323;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; }

.trusted-companies__descr {
  margin-bottom: 40px; }
.trusted-companies__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 80px; }
.trusted-companies__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.trusted-companies__img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); }

.contact-us__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 30px 0; }
.contact-us__left {
  background-image: url("../images/form-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px; }
.contact-us__top {
  margin-bottom: 60px; }
.contact-us__item a span {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; }
.contact-us__item:not(:last-child) {
  margin-bottom: 20px; }
.contact-us__bottom span {
  color: #C8C8C8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; }
.contact-us__bottom .form__top {
  margin-bottom: 35px; }
.contact-us__bottom .form__input {
  padding: 15px 10px;
  background: #F3F3F3;
  width: 100%;
  border: none; }
  .contact-us__bottom .form__input:not(:last-child) {
    margin-bottom: 15px; }
.contact-us__bottom .form__message {
  height: 100px;
  resize: none; }
.contact-us__bottom .form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.contact-us__bottom .form__button {
  background: #603880;
  color: #fff;
  padding: 10px 25px;
  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  margin-right: 35px; }
  .contact-us__bottom .form__button:hover {
    background: #8a50ba; }
.contact-us__bottom .form__info {
  color: #7A7A7A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; }
  .contact-us__bottom .form__info a {
    text-decoration: underline; }
.contact-us__title {
  color: #232323;
  font-size: 32px;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 15px;
  margin-top: 15px; }
.contact-us__descr {
  color: #232323;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  margin-bottom: 35px; }

.btn-up {
  position: fixed;
  background-color: #603880;
  right: 20px;
  bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 50px;
  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out; }

.btn-up::before {
  content: '';
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E"); }

.btn-up_hide {
  display: none; }

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #8a50ba;
    /* цвет заднего фона при наведении */ } }
.footer {
  padding: 10px 0; }
  .footer__top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px; }
  .footer__img {
    width: 80px; }
  .footer__bottom {
    font-family: 'Fira Sans', sans-serif; }

@media (max-width: 1024px) {
  .advantages__block {
    display: block; }
  .advantages__left {
    display: none; } }
@media (max-width: 888px) {
  .section-offset {
    padding: 30px 0; }

  .how-we-work__list {
    grid-template-columns: repeat(3, 1fr); }

  .advantages__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
@media (max-width: 600px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .advantages__buttons {
    width: 100%; }
  .advantages__btn {
    width: 100%; }

  .footer__top {
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 20px; } }
@media (max-width: 425px) {
  .how-we-work__list {
    grid-template-columns: repeat(2, 1fr); }

  .trusted-companies__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

/*# sourceMappingURL=style.css.map */